.img-responsive {
 max-height: 350;
}

/*http://css-tricks.com/left-align-and-right-align-text-on-the-same-line/*/
.alignleft {
	float: left;
}
.alignright {
	float: right;
}


/*http://stackoverflow.com/questions/13391566/twitter-bootstrap-carousel-different-height-images-cause-bouncing-arrows*/
.MyCarouselImg img {
  width: auto;
  height: 300px;
  max-height: 300px;
}